@model RateViewModel
@inject ISidebarService SidebarService

@section Styles {
	<link rel="stylesheet" href="~/css/posts.css" />
}
@{
	Layout = "_LoggedLayout";
}
@section SideExtension {
	@await Html.PartialAsync("_sidebar", await SidebarService.GetSidebarModelAsync(Model.LoggedUserEntity))
}

<div class="posts-main">

	@await Html.PartialAsync("_welcome", Model.LoggedUserEntity)

	<div class="posts-container" id="rates-page">
		<div class="posts-bg">
			<div class="posts-content">
				@await Html.PartialAsync("_post", Model.RatePost)
				<div id="rate-forms">
					<form method="post" action="@Url.Action("RatePost", "Posts")">
						@Html.AntiForgeryToken()
						<input type="hidden" name="RatePost.PostID" value="@Model.RatePost.PostID" />
						<input type="hidden" name="like" value="true" />
						<button class="btn btn-primary btn-lg btn-block rate-buttons" type="submit">Like</button>
					</form>
					<form method="post" runat="server" action="@Url.Action("RatePost", "Posts")">
						@Html.AntiForgeryToken()
						<input type="hidden" name="RatePost.PostID" value="@Model.RatePost.PostID" />
						<input type="hidden" name="like" value="false" />
						<button class="btn btn-primary btn-lg btn-block rate-buttons" type="submit">Dislike</button>
					</form>
				</div>

			</div>
		</div>
	</div>

</div>
@section BottomExtension {
	@await Html.PartialAsync("_bottombar", Model.LoggedUserEntity)
}
@section Scripts {
	<script src="/js/Posts/posts.js"></script>
	<script src="/js/Posts/posts-rate.js"></script>
}