@model User

<nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark border-bottom-0">
	<ul class="navbar-nav mr-auto align-items-end justify-content-evenly w-100">
		<li class="nav-item">
			<a href="@Url.Action("Rates","Posts")" class="nav-link border-bottom" id="bottom-rate">
				<i class="fa-solid fa-star-half-stroke fa-xl"></i>
			</a>
		</li>
		<li class="nav-item">
			<a href="@Url.Action("Index","Posts")" class="nav-link active border-bottom" id="bottom-home">
				<i class="fa-solid fa-house fa-xl"></i>
			</a>
		</li>
		<li class="nav-item">
			<a href="@Url.Action("Create","Posts")" class="nav-link  border-bottom" id="bottom-create">
				<i class="fa-solid fa-square-plus fa-xl"></i>
			</a>
		</li>
		<li class="nav-item">
			<a href="@Url.Action("Details", "User", new { id = Model.Username })" class="nav-link border-bottom" id="dropdownUser3">
				<img src="/img/user/profile/@Model.Photo" alt="mdo" width="24" height="24" class="rounded-circle">
			</a>
		</li>
		<li class="nav-item">
			<a href="@Url.Action("Index", "Messages")" class="nav-link border-bottom" id="dropdownUser3">
				<i class="fa-solid fa-message fa-xl"></i>
			</a>
		</li>
	</ul>
</nav>

<script src="/js/sidebar.js"></script>